NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_WS_URL=ws://localhost:5000
UPLOADTHING_TOKEN=replace-with-uploadthing-token
UPLOADTHING_SECRET=replace-with-uploadthing-secret
UPLOADTHING_APP_ID=replace-with-uploadthing-app-id
JWT_SECRET=replace-this-with-the-same-secret-as-backend
